<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903650330483-fipk4b5imgkh43vardrr9a45fph73112.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903650330483-fipk4b5imgkh43vardrr9a45fph73112</string>
	<key>API_KEY</key>
	<string>AIzaSyA0suokWkCCBtvWAxc8PWgz94BbBZ3B5U0</string>
	<key>GCM_SENDER_ID</key>
	<string>903650330483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.siaLayout</string>
	<key>PROJECT_ID</key>
	<string>iread-login-22dc9</string>
	<key>STORAGE_BUCKET</key>
	<string>iread-login-22dc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903650330483:ios:62138a12162dcd0d036706</string>
</dict>
</plist>